# matplotlib==3.6.0
# numpy==1.23.3
# pandas
# torch
# torchvision==0.1.9
# tensorboardX
# tensorflow
# pillow
# keras
# layers
# scikit-learn
# opencv-python
# pydot
# GraphViz
# scipy
# zipfile36
# h5py
# sklearn-utils